item-wrapper($width,$iconsize,$left,$fontsize)
  float :left
  width :$width
  position :relative
  margin :5px 0 0 14px
  padding : 3px 5px
  background :#ffc1e0
  text-align :center
  border-radius :5px
  &:active
    background: #ff79bc
    .func-text
      color: #ffff37
    .func-icon
      img
        height :$iconsize + 3px
        width :$iconsize + 3px

  .func-icon
    height :$iconsize
    width :$iconsize
    line-height :$iconsize
    position :relative
    left :$left
    border-radius: 50%
    img
      height :$iconsize
      width :$iconsize
  .func-text
    font-size :$fontsize px
    line-height :$fontsize
    color :#272727
    padding-top:6px
