lottery-number($space,$ballspace,$size,$fontColor)
  .lottery-number
    margin :$space
    span
      float :left
      display :block
      margin :$ballspace
      height :$size
      width :$size
      line-height :$size
      border-radius: 50%
      text-align :center
      color :$fontColor
    .one
      background :#edae00
    .two
      background :#0483f6
    .three
      background :#474747
    .four
       background :#f16804
    .five
      background :#00bfcf
    .six
      background :#4606f4
    .seven
      background :#787878
    .eight
      background :#ef1410
    .nine
      background :#bf0c00
    .ten
      background :#1fbc04
    .clear
      clear :both
